@{
    Layout = "~/_Layout.cshtml";
}
@section banner{
    <h1>Home of CPSC1517 Razor</h1>
    }

<a href="~/HelloWorld.cshtml">Hello World</a><br/>
<a href="~/SamplePages/BasicForm.cshtml">Basic Form</a>