@{
    Layout = "~/_Layout.cshtml";
}


<blockquote>
    this is text that will be display in
    the <u>body of the web page</u> shown on the browser
</blockquote>

@section banner {
    <h1>Hello World</h1>
}